@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


body {
  background-image: linear-gradient(to right top, #001675, #0c1762, #13174f, #16163c, #16152a, #1c162a, #21172a, #26182a, #3e1734, #5a1034, #73012b, #870019);
  color: #a8a8a8 !important;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.wrapper {
  min-height: 77.7vh;
}

.wrapper2 {
  min-height: 66.7vh;
  margin-top: 100px;
}

nav {
  color: #a8a8a8 !important;
  font-family: 'Roboto', sans-serif, bold;
}

.footer {
  background-color: #0d0d0d;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  margin-top: 2rem;
  padding: 2rem;
}

.footer img {
  max-height: 35px;
}

a {
  color: #a8a8a8 !important;
}

nav a {
  color: #a8a8a8 !important;
}

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
  
}

h3 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h4 {
  font-family: 'Oswald', sans-serif;
  text-align: left;
}

h5 {
  font-family: 'Oswald', sans-serif;
}

h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem !important;
}

.dropdown-menu {
  background-color: #180e19;
  color: #a8a8a8 !important;
}

.dropdown-menu :hover {
  background-color: #21172a !important;
  color: #a8a8a8 !important;
}

.icon {
  height: 30px;
}

.card-img-top {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.containerTV {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: flex-start;
  width: 100%;
}

.containerSub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.movie-view {
  background-color: rgba(13, 13, 13, 0.5);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flex-container {
  display: flex;
}

.box {
  padding: 20px;
  margin: 10px;
}


.elo {
  display: flex;
  justify-content: space-around;
}

#accordion {
  width: 100%;
  max-width: 800px; /* Set a maximum width if needed */
}


.card {
  margin: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #0d0d0d;
  color: #a8a8a8;
}

.card3 {
  margin: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: none !important;
  color: #a8a8a8;
}

.card2 {
  background-color: none !important;
}

.card img {
  width: 250px;
  height: 400px;
  object-fit: cover;
}

.avatar {
  object-fit: cover !important;
  width: 200px !important;
  height: 200px !important;
}

.btn {
  background-image: radial-gradient(circle, #1f1f1f, #222222, #242424, #272727, #2a2a2a);
  border: #272727 1px solid;
  color: #a8a8a8;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-image: radial-gradient(circle, #1f1f1f, #222222, #242424, #272727, #2a2a2a);
  border: #272727 1px solid;
  color: #a8a8a8;
  border: none;
  text-align: center;
  text-decoration: none;
  outline: none;
}

.btn2 {
  background-color: #0d0d0d !important;
  background-image: none !important;
  border: #0d0d0d 1px solid !important;
}

.btn a {
  color: #a8a8a8 !important;
}

.btn a:hover {
  text-decoration: none !important;
  color: #a8a8a8 !important;
}

.alert {
  margin: 10px !important;
}

.alert-dark {
  background-color: #180e19 !important;
  color: #a8a8a8 !important;
  border: #0d0d0d 3px !important;
  box-shadow: #260c1c 2px 2px 0px;
}

.modal-content {
  background-image: linear-gradient(to right top, #001675, #0c1762, #13174f, #16163c, #16152a, #1c162a, #21172a, #26182a, #3e1734, #5a1034, #73012b, #870019);
}

.card-body {
  background-color: #0d0d0d !important;
}

.btn-link {
  font-size: 2rem;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
  color: #a8a8a8;
  text-decoration: none;
}

.list-group-item {
  background-color: #0d0d0d !important;
}

#subscription {
  background-color: #0d0d0d;
}

#subscription .card-body {
  background-image: linear-gradient(to right top, #001675, #0c1762, #13174f, #16163c, #16152a, #1c162a, #21172a, #26182a, #3e1734, #5a1034, #73012b, #870019);
}



/* Carousel */
.container2 {
  display: flex !important;
  flex-wrap: wrap !important;
}

.card3 {
  display: inline-block !important;
}

.carousel {
	margin: 30px auto 60px;
	padding: 0 80px;
}
.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
}
.carousel .carousel-item h4 {
	font-family: 'Varela Round', sans-serif;
}
.carousel .carousel-item img {
	max-width: 100%;
}
.carousel .carousel-item .btn {
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background: #a177ff;
	padding: 6px 15px;
	margin-top: 5px;
}
.carousel .carousel-item .btn:hover {
	background: #8c5bff;
}
.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .thumb-wrapper {
	margin: 5px;
	text-align: left;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
}
.carousel .thumb-content {
	padding: 15px;
	font-size: 13px;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 44px;
	background: none;	
	margin: auto 0;
  margin-left: 20%;
  margin-right: 20%;
	border-radius: 50%;
	border: 3px solid rgba(223, 220, 220, 0.8);
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(223, 220, 220, 0.8);
	text-shadow: none;
	font-weight: bold;
}


.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border: none;
}
.carousel-indicators li {	
	background: #ababab;
}
.carousel-indicators li.active {	
	background: #555;
}

/* Form */
.form2 {
  width: 80%;
  max-width: 500px;
  background-color: rgba(13, 13, 13, 0.5);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form3 {
  width: 100%;
  max-width: 500px;
  background-color: rgba(13, 13, 13, 0.5);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.conditions {
  width: 190%;
  max-width: 1000px;
  background-color: rgba(13, 13, 13, 0.5);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Tabs */
/* Style the tab buttons */
.tablink {
  background-color: #555;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 17px;
  width: calc(33.33% - 10px);
}

/* Change background color of active tab */
.tablink.active {
  color: gray;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  margin-top: 10px;
  clear: both; /* add this property to move the tab content below the tabs */
}

/* Show the active tab content */
.tabcontent.show {
  display: block;
}

/* Add margin to the tabs container */
.tabs {
  margin: auto;
  width: 32rem;
}

/*Avatar overlay*/
/* Overlay */
.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.avatar-wrapper:hover .overlay {
  height: 100%;
}

.change-avatar-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-body {
  text-align: center;
}

.modal-footer {
  justify-content: space-between;
}

.flex-cont {
  flex-direction: column !important;
  align-items: left !important;
  justify-content: flex-start !important;
}

