@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


body {
  background-image: linear-gradient(to right top, #001675, #0c1762, #13174f, #16163c, #16152a, #1c162a, #21172a, #26182a, #3e1734, #5a1034, #73012b, #870019);
  color: #F2F2F2 !important;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}


nav {
  color: #F2F2F2 !important;
  font-family: 'Roboto', sans-serif, bold;
}

.footer {
  background-color: #0d0d0d;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  margin-top: 2rem;
  padding: 2rem;
}

.footer img {
  max-height: 35px;
}

a {
  color: #F2F2F2 !important;
}

nav a {
  color: #F2F2F2 !important;
}

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;

}

h3 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h4 {
  font-family: 'Oswald', sans-serif;
}

h5 {
  font-family: 'Oswald', sans-serif;
}

h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem !important;
}

.dropdown-menu {
  background-color: #180e19;
  color: #F2F2F2 !important;
}

.dropdown-menu :hover {
  background-color: #730202 !important;
  color: #F2F2F2 !important;
}

.icon {
  height: 30px;
}

.card-img-top {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.elo {
  display: flex;
  justify-content: space-around;
}


.card {
  margin: 10px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  background-color: #0d0d0d;
  color: #F2F2F2;
}

.btn {
  background-image: linear-gradient(to bottom, #400101, #350516, #260c1c, #180e19, #0d0d0d);
  border: #0d0d0d 1px solid;
  color: #F2F2F2;
}

.btn a {
  color: #F2F2F2 !important;
}

.btn a:hover {
  text-decoration: none !important;
}

.alert {
  margin: 10px !important;
}

.alert-dark {
  background-color: #180e19 !important;
  color: #F2F2F2 !important;
  border: #0d0d0d 3px !important;
  box-shadow: #260c1c 2px 2px 0px;
}

.modal-content {
  background-image: linear-gradient(to bottom, #400101, #350516, #260c1c);
}

.card-body {
  background-color: #0d0d0d !important;
}

.list-group-item {
  background-color: #0d0d0d !important;
}


/* Carousel */
.carousel {
	margin: 30px auto 60px;
	padding: 0 80px;
}
.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
}
.carousel .carousel-item h4 {
	font-family: 'Varela Round', sans-serif;
}
.carousel .carousel-item img {
	max-width: 100%;
	display: inline-block;
}
.carousel .carousel-item .btn {
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background: #a177ff;
	padding: 6px 15px;
	margin-top: 5px;
}
.carousel .carousel-item .btn:hover {
	background: #8c5bff;
}
.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .thumb-wrapper {
	margin: 5px;
	text-align: left;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
}
.carousel .thumb-content {
	padding: 15px;
	font-size: 13px;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 44px;
	background: none;	
	margin: auto 0;
	border-radius: 50%;
	border: 3px solid rgba(223, 220, 220, 0.8);
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(223, 220, 220, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border: none;
}
.carousel-indicators li {	
	background: #ababab;
}
.carousel-indicators li.active {	
	background: #555;
}